<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Notes</title>
  </head>
  <body>
    <h1>Book Notes</h1>
    <a href="/compose">Add a New Book Note</a>
    <div class="book-container">
      <% entries.forEach(book => { %>
      <!-- <div class="book-card">
        <h2 class="book-title"><%= book.title %></h2>

        <p>
          <strong>rating:</strong> <%= book.rating %>
          <span class="spacer"></span>
          <strong>description:</strong> <%= book.description %>
        </p>
      </div> -->
      <div class="book-item">
        <h3><%= book.title %></h3>
        <p><strong>Rating:</strong> <%= book.rating %></p>
        <p><strong>Description:</strong> <%= book.description %></p>
        <img
          src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg"
          alt="Book Cover"
        />
        <form
          action="/edit/<%= book.id %>"
          method="GET"
          style="display: inline-block; margin-top: 10px"
        >
          <a href="edit.ejs?id=<%= book.id %>">
            <button style="background-color: skyblue; color: white" type="submit">
              edit note
            </button>
          </a>
        </form>
        <form action="/delete" method="POST" style="margin-top: 10px">
          <input type="hidden" name="deleteItemId" value="<%= book.id %>" />
          <button style="background-color: orange; color: white" type="submit">
            delete note
          </button>
        </form>
      </div>

      <% }); %>
    </div>
  </body>
</html>
